@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="outerconpyright">
    <div class="container">
        <div id="copyright">
            @T("Home.Index.Copy", DateTime.Now.Year)
        </div>
    </div>
</div>